{block content}
<h1>Vozidla</h1>
<ul n:inner-foreach="$vehicleslist as $v">
    <li><a n:href="Vehicles:showSingle, id=>$v->id">{$v->name}</a></li>
</ul>
<div class="row">
  <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
	  <li {ifCurrent passwordChange}class="active"{/ifCurrent}><a n:href="add">Přidat vozidlo</a></li>
      </ul>
  </div>
  <div class="col-md-9">
      {block con}{/block}
  </div>
</div>