<div class="dropdown">
  <button class="btn dropdown-toggle btn-lg btn-link" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Přátelé
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li><a n:href="remove">Zrušit přátelství</a></li>
  </ul>
</div>