{var $robots = noindex}

{block content}
<h1 n:block=title>Sign in</h1>

{control signInForm}
	
	<p> Nemáte účet? <a n:href="up">Zaregistrujte se zde.</a></p>

{* or use {include '../components/form.latte', form => signInForm} *}
